.tele{margin-left: 5%;}
.tele1{margin-left: 35%;  margin-top: -11em;}
 .tele3{margin-left: 45%;}
.a{font-size: 102%; margin-right: 5%; border:2px solid; border-radius: 80%; background-color: rgb(0, 255, 187); color: rgb(0, 0, 0);}
  .b{ font-size: 102%;margin-right: 5%; border:2px solid; border-radius: 80%;  }
  .c{font-size: 102%;margin-right: 5%; border:2px solid; border-radius: 80%; margin-left: 5%;}
  .d{font-size: 102%;margin-right: 5%; border:2px solid; border-radius: 80%; }

  .e{font-size: 102%;margin-right: 5%; border:2px solid; border-radius: 80%; }

 .f{font-size: 102%;margin-right: 3%; border:2px solid; border-radius: 80%; }
 .g{font-size: 102%;margin-right: 3%; border:2px solid; border-radius: 80%; }
 .h{font-size: 102%;margin-right: 3%; border:2px solid; border-radius: 80%; }
 .h{font-size: 102%;margin-right: 3%; border:2px solid; border-radius: 80%;  } 
 .i{font-size: 102%;margin-right: 3%; border:2px solid; border-radius: 80%; }
 .j{font-size: 102%;margin-right: 3%; border:2px solid; border-radius: 80%; }
 .k{font-size: 102%;margin-right: 5%; border:2px solid; border-radius: 80%; }
 .l{font-size: 102%;margin-right: 5%;  }
 .ke{display: inline-flex; padding-left: 10%;}

