.h12{font-size: 80%;padding-left: 42%;}
.butoom{width: 30%;margin-left: -8em;margin-top:20%; border-radius: 12%;background-color: aqua;}
.cory{margin-left: 45%;margin-top: -10.5em;box-shadow: 1px 1px 1px  black ;  }

.core{box-shadow: 1px 1px 1px black;margin-left: 3%;margin-top: 5%;}
.cort{box-shadow: 1px 1px 1px black;margin-left: 3%;margin-top: 5%;}
.hq{width: 90%;padding-left: 3%; box-shadow: 1px 1px 1px 1px ;margin-top: 2%;}