.h12{font-size: 30px;padding-left: 22%;}
.butoom{width: 30%;margin-left: -8em;margin-top:35%; border-radius: 12%;background-color: aqua;}
.cory{margin-left: 45%;margin-top: -10.5em;box-shadow: 1px 1px 1px  black ;  }

.core{box-shadow: 1px 1px 1px black;margin-left: 3%;margin-top: 3%;}
.cort{box-shadow: 1px 1px 1px black;margin-left: 3%;margin-top: 3%;}
.hq{width: 89%;padding-left: 3%; box-shadow: 5px 0px 0px 0px green;margin-top: -12%;}
.card{margin-left: 30%; background-color: #ff9999;}
.hq1{width: 89%;;padding-left: 3%; box-shadow: 5px 0px 0px 0px green;padding-top: -32%;margin-top: -20%;margin-bottom: 5%;}
.web{padding-left: 5%;}
.color{background-color: #ff3366;}
.cad1{background-color: #ff9999;}
.tele{margin-left: 0.9rem; margin-bottom: 5%;}
.tele1{margin-left: 38%;margin-top: -47%;margin-bottom: 1%;}
.tele2{margin-left: 68%;margin-top: -47%; margin-bottom: 1%;}